<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
        <link rel="stylesheet" href="/css/semantic.min.css">
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="ui menu">
            <div class="ui container">
            <div class="header item">
               <a href="/" class="link">
                Home</a>
            </div>
            <a href="/patients" class="link">
                Liste des patients
            </a>
            <a class="item">
                Liste des médecins
            </a>
        </div>
        </div>
    </div>
    <script src="/public/js/semantic.min.js"></script>
</body>
</html>